*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("https://lyonturnbull.blob.core.windows.net/blogs/buy-selling-background.jpg");
    height: 800px;
    background-position: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: silver;
    color: white;
    text-align: center;
    width: 94%;
    margin: auto;
}
.caption{
    padding-top: 80px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 90%;
    margin: auto;
}

.card{
    background-color: white;
    width: 350px;
    margin-top: 120px;
    padding: 60px 40px;
    height: 400px;
    word-break: break-all;
}   
.card a{
    color: black;
    font-size: 22px;
}
.caption h1{
    margin: auto;
    width: 44%;
    font-weight: 500;
    border-bottom: 1px solid white;
    font-family: 'Cormorant', serif;
}

.card h2{
    font-weight: 300;
    font-size: 24px;
    font-family: 'Cormorant', serif;
    margin-bottom: 80px;
}

.card h3{
    font-weight: 500;
    margin-top: 40px;
    font-family: 'Cormorant', serif;
}


.container_product{
    display: flex;
    width: 1200px;
    height: 500px;
    align-items: center;
    margin: auto;
    justify-content:space-between;
    
    margin-bottom: 40px;
    
}

.first_text{
     margin-top: 30px;
     font-size: 42px;
     text-align: center;
     margin-bottom: 0;
     padding: 0;
}

.thing_card{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thing_card_img {
    width: 100%;
    height: 175px;
}

.thing_card_img img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.thing_card_private, .thing_card_noprivate{
    background-color: #585c5b;
    color: white;
    width: 100%;
}

.thing_card_name{
    font-size: 18px;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-weight: 800;

}

.thing_card_description {
    text-align: center;
}
.thing_card_price {
    text-align: center;
}


.thing_card_btn1 button {
    border: none;
    border-radius: 1px;
    padding: 5px;
}

.thing_card_btn1 button:hover {
   background-color: #6b6f6d;

}

.thing_card_private {
    background-color: goldenrod;
}
.thing_card_private:hover {
    background-color: rgb(229, 174, 34)!important;
}