.head {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.navImg .img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navImg {
  margin-bottom: 10px;
}

.img {
  width: 352px;
  margin: 0 auto;
  height: 50px;
}

.mainDrop {
  width: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.dropMenu li,
.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: rgb(18, 50, 147);
  text-decoration: none;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropContent div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropContent div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropMenu:hover .dropContent {
  display: block;
  cursor: pointer;
}



