.footerContainer {
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding-top: 2rem;
}

.firstFooter {
    width: 94%;
    margin: auto;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 8px 15px 8px;
    border-radius: 2px;
}

.firstFooter {
    color: white;
    padding: 25px 10px 15px 10px;
}

.firstFooter label{
    font-size: 18px;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    border-bottom: 1px solid goldenrod;
    height: 1rem;
    margin-bottom: 15px;
}

.firstFooterContent {
    line-height: 10px;
}

.firstFooterContentImages {
    line-height: 10px;
}
.firstFooterContentImages label{
    font-family: 'Cormorant', serif;
    margin-bottom: 15px;
}

.footerLogo{
    width: 25px;
    height: 30px;
    padding-bottom: 5px;
    background: transparent!important;
}

.firstFooterContentImages div p {
    margin: 4px;
}

.secondFooter {
    padding: 15px 8px 8px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondFooter ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.secondFooter h3 {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    background: -webkit-linear-gradient(right, brown , goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


