.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oneDis {
    display: flex;
    justify-content: center;
}

.oneMain {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.oneImg,
.oneDes,
.onePrice,
.oneWin {
    margin-top: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneName {
    margin-top: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneDes {
    width: 60%;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: center;
}

.oneImg img {
    object-fit: cover;
    width: 100%;
}

.inputer {
    margin: 20px 0;
}

.inputer button {
    padding: 5px 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.inputer input {
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid green;
}