.things {
    width: 100%;
  }
  
  ::-webkit-scrollbar { width: 0; }
  
  .things_firstText {
    margin: auto;
    padding: 15px 0;
  }

  .things_firstText p {
    font-family: 'Cormorant', serif;
    text-align: center;
    font-size: 50px;
    color: black;
    cursor: pointer;
    padding: 0px!important;
    margin: 0px!important;
  }

  .things_head {
    background-color: rgba(241, 239, 239, 0.9);
    width: 80%;
    height: 5rem;
    margin: auto;
    margin-top: 20px;
    border: 1.2px solid;
    border-radius: 2px;
    display: flex;
  }

  .things_head_ul {
    width: 50%;
    margin: 0 auto;
  }

  .things_head_ul ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 22px;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .things_head_ul ul li {
    cursor: pointer;
    font-weight: bold;
    color: brown;
  }

  .form {
    margin: auto;
    height: 50%;
    border-left: 2px solid;
    padding: 0 50px;
    width: 20%;
  }
  
  .form input {
    padding: 0 20px;
    height: 100%;
    width: 210px;
    border: none;
    border-radius: 2px;
    outline: 1.5px solid brown;
    
  }

  .basket {
    width: 17%;
    display: flex;
    justify-content: end;
  }

  .basket_img {
    padding-top: 10px;
    width: 20%;
  }

  .basket_img img {
    width: 35px;
  }

  .things_list {
    width: 100%;
  }
  
  .things_list_things {
    margin: auto;
    /* margin-top: 20px; */
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    /* border: 1px solid; */
  }
  