body {
  margin: 0;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Toastify__progress-bar--info {
  background: #34568b!important;
}

